@{
    ViewData["title"] = "Rezervasyonlar";
}
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Rezervasyon Listesi</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="table-responsive " style="width:100%">
            <a asp-controller="Reservation" asp-action="Create" class="btn btn-info float-right  mt-2 mb-2 "> <span class=" fas fa-plus"></span> Rezervasyon Ekle</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Araç İsmi
                        </th>
                        <th>
                            Müşteri Adı
                        </th>
                        <th>
                            Telefonu
                        </th>
                        <th>
                            E-Mail
                        </th>
                        <th>
                            Kiralama Tarihi
                        </th>
                        <th>
                            Alış Tarihi
                        </th>
                        <th>
                            Teslim Tarihi
                        </th>
                        <th>
                            Yakıt Tipi
                        </th>
                        <th>
                            Vites Türü
                        </th>

                        <th>
                            Durum
                        </th>
                        <th>
                            İşlem
                        </th>

                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            Renault Clio 1.4
                        </td>
                        <td>
                            Önay YALÇINER
                        </td>
                        <td>

                            0555 693 65 65
                        </td>
                        <td>
                            <span class="w-25">
                                <small>onay.yalçıner@hotmail.com</small>
                            </span>
                        </td>
                        <td>
                            11.04.2022

                        </td>
                        <td>
                            22.04.2022
                        </td>
                        <td>
                            30.04.2022
                        </td>
                        <td>
                            Dizel
                        </td>
                        <td>
                            Otomatik Vites
                        </td>

                        <td class="project-state">
                            <span class="badge badge-success">Aktif</span>
                        </td>
                        <td>

                            <a class="btn btn-info btn-sm" href="#">
                                <span class="fas fa-pencil-alt"></span>
                                Edit
                            </a>
                            <br />
                            <a class="btn btn-danger btn-sm" href="#">
                                <i class="fas fa-trash">
                                </i>
                                Sil
                            </a>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>