@model List<Feature>

@{
    ViewData["title"] = "Araç Özellikleri";
}
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Araç Özellikleri</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="table-responsive " style="width:100%;">
            <a asp-controller="CarFeature" asp-action="Create" class="btn btn-info mt-2 mb-2 ml-2 "> <span class=" fas fa-plus"></span> Ekle</a>
            <table class="table" style="width:100%;">

                <thead>
                    <tr>
                        <th>
                            Araç Adı
                        </th>
                        <th>
                            Hava Durumu
                        </th>
                        <th>
                            Çocuk Koltuğu
                        </th>
                        <th>
                            Valiz
                        </th>
                        <th>
                            Müzik
                        </th>
                        <th>
                            Emniyet Kemeri
                        </th>
                        <th>
                            Uyku Yatağı
                        </th>
                        <th>
                            Bluetooth
                        </th>
                        <th>
                            Araç Bilgisayarı
                        </th>
                        <th>
                            Ses Girişi
                        </th>
                        <th>
                            Uzun Yolculuk
                        </th>
                        <th>
                            Araç Seti
                        </th>
                        <th>
                            Uzaktan Merkezi Kilit
                        </th>
                        <th>
                            İklim Kontrolü
                        </th>
                        <th>
                            Navigasyon
                        </th>
                        <th>
                            Durum
                        </th>
                        <th>
                            İşlem
                        </th>

                    </tr>
                </thead>

                <tbody>
                    @*@foreach (var feature in Model)
                    {
                        <tr>
                            <td class="project-state" align="center">
                                @feature.Cars.CarName
                            </td>
                            @if (feature.WeatherConditions == 1)
                            {
                                <td class="project-state" align="center">
                                    <span class="badge badge-success sp">Var</span>
                                </td>
                            }
                            else
                            {
                                <td class="project-state" align="center">
                                    <span class="badge badge-danger">Yok</span>
                                </td>
                            }
                            @if (feature.ChildSeat == 1)
                            {
                                <td class="project-state" align="center">
                                    <span class="badge badge-success">Var</span>
                                </td>
                            }
                            else
                            {
                                <td class="project-state" align="center">
                                    <span class="badge badge-danger">Yok</span>
                                </td>
                            }
                            @if (feature.SuitCase == 1)
                            {
                                <td class="project-state" align="center">
                                    <span class="badge badge-success">Var</span>
                                </td>
                            }
                            else
                            {
                                <td class="project-state" align="center">
                                    <span class="badge badge-danger">Yok</span>
                                </td>
                            }
                            @if (feature.Music == 1)
                            {
                                <td class="project-state" align="center">
                                    <span class="badge badge-success">Var</span>
                                </td>
                            }
                            else
                            {
                                <td class="project-state" align="center">
                                    <span class="badge badge-danger">Yok</span>
                                </td>
                            }
                            @if (feature.SafetyBelt == 1)
                            {
                                <td class="project-state" align="center">
                                    <span class="badge badge-success">Var</span>
                                </td>
                            }
                            else
                            {
                                <td class="project-state" align="center">
                                    <span class="badge badge-danger">Yok</span>
                                </td>
                            }
                            @if (feature.SleepingBed == 1)
                            {
                                <td class="project-state" align="center">
                                    <span class="badge badge-success">Var</span>
                                </td>
                            }
                            else
                            {
                                <td class="project-state" align="center">
                                    <span class="badge badge-danger">Yok</span>
                                </td>
                            }
                            @if (feature.Bluetooth == 1)
                            {
                                <td class="project-state" align="center">
                                    <span class="badge badge-success">Var</span>
                                </td>
                            }
                            else
                            {
                                <td class="project-state" align="center">
                                    <span class="badge badge-danger">Yok</span>
                                </td>
                            }
                            @if (feature.OnboardComputer == 1)
                            {
                                <td class="project-state" align="center">
                                    <span class="badge badge-success">Var</span>
                                </td>
                            }
                            else
                            {
                                <td class="project-state" align="center">
                                    <span class="badge badge-danger">Yok</span>
                                </td>
                            }
                            @if (feature.AudioInput == 1)
                            {
                                <td class="project-state" align="center">
                                    <span class="badge badge-success">Var</span>
                                </td>
                            }
                            else
                            {
                                <td class="project-state" align="center">
                                    <span class="badge badge-danger">Yok</span>
                                </td>
                            }
                            @if (feature.LongTrip == 1)
                            {
                                <td class="project-state" align="center">
                                    <span class="badge badge-success">Var</span>
                                </td>
                            }
                            else
                            {
                                <td class="project-state" align="center">
                                    <span class="badge badge-danger">Yok</span>
                                </td>
                            }
                            @if (feature.Toolkit == 1)
                            {
                                <td class="project-state" align="center">
                                    <span class="badge badge-success">Var</span>
                                </td>
                            }
                            else
                            {
                                <td class="project-state" align="center">
                                    <span class="badge badge-danger">Yok</span>
                                </td>
                            }
                            @if (feature.RemoteCentralLock == 1)
                            {
                                <td class="project-state" align="center">
                                    <span class="badge badge-success">Var</span>
                                </td>
                            }
                            else
                            {
                                <td class="project-state" align="center">
                                    <span class="badge badge-danger">Yok</span>
                                </td>
                            }
                            @if (feature.ClimateControl == 1)
                            {
                                <td class="project-state" align="center">
                                    <span class="badge badge-success">Var</span>
                                </td>
                            }
                            else
                            {
                                <td class="project-state" align="center">
                                    <span class="badge badge-danger">Yok</span>
                                </td>
                            }
                            @if (feature.Gps == 1)
                            {
                                <td class="project-state" align="center">
                                    <span class="badge badge-success">Var</span>
                                </td>
                            }
                            else
                            {
                                <td class="project-state" align="center">
                                    <span class="badge badge-danger">Yok</span>
                                </td>
                            }
                            @if (feature.Enabled)
                            {
                                <td class="project-state" align="center">
                                    <span class="badge badge-success">Aktif</span>
                                </td>
                            }
                            else
                            {
                                <td class="project-state" align="center">
                                    <span class="badge badge-danger">Pasif</span>
                                </td>
                            }

                            <td>
                                <partial name="RowButtonsPartial" model="@feature" />
                            </td>
                        </tr>

                    }*@
                </tbody>



            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>

@section Scripts {
   
}